@use './2.scss' as two; // sass feature test (@use)
@import './3.scss'; // css feature test (@import)
.a_1 {
  dummy: '';
}
.a_2 {
  dummy: '';
  // sass feature test (nesting)
  .a_2_1 {
    dummy: '';
  }
  &_2 {
    dummy: '';
  }
  composes: a_1; // css module feature test (composes)
  composes: d from './4.scss'; // css module feature test (composes from other file)
}
